@import "tailwindcss";

@theme {
  --color-brand-gold: #C9A961;
  --color-brand-orange: #E8913A;
  --color-brand-cream: #FAF8F4;
  --color-brand-dark: #1E1E1E;
  --color-brand-text: #2D2D2D;
  --color-brand-lightgray: #F5F3EE;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
}
